.node {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 1.6rem;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: .5rem;

  margin-bottom: 3.0rem;
}

.title {
  padding: .8rem 2.0rem;
  font-weight: 500;
}

.input {
  border: 1px solid var(--black);
}

.actions {
  display: flex;
  gap: .5rem;
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 2.4rem;
  height: 2.4rem;
}

.action.add {
  background-color: lightgreen;
}
.action.edit {
  background-color: gold;
}
.action.save {
  background-color: lightskyblue;
}
.action.remove {
  background-color: tomato;
}

.children {
  display: flex;
  gap: 2rem;
}
