.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 40px;
  padding: 20px 0;
  border-bottom: var(--border);
}

.logo {
  font-size: 30px;
  font-weight: 500;
}
